@CHARSET "ISO-8859-1";

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  min-height: 3000px;
  font-family: 'Open Sans', sans-serif;
}

.thumbnail {
  position: relative;
  padding: 0px;
  margin-bottom: 20px;
}

.thumbnail img {
  width: 100%;
}
